<div class="slider">
  <div class="slide" style="background-image: url('../../assets/tunAnpr.jpg');">
    <div class="overlay"></div>
    <div class="content">
      <h2>Nous mettons l’intelligence artificielle au service de l’intelligence humaine</h2>
      
    </div>
  </div>

  <div class="slide" style="background-image: url('../../assets/tunTrafic.jpg');">
    <div class="overlay"></div>
    <div class="content">
      <h2>Avoir une avance technologique, ça fait la différence </h2>

    </div>
  </div>

  <div class="slide" style="background-image: url('../../assets/homepage4.png');">
    <div class="overlay"></div>
    <div class="content">
      <h2>Les idées de demain, sont nos solutions d’aujourd’hui. </h2>

    </div>
  </div>
</div>
